

#searchbar{
    flex-flow: row-reverse;
    float: right;
    margin-right: 0px;
    position: relative;
}
#navitems{
    flex-direction: column;
}
#navbar{
    width: 100% !important;
}
#link{
    background: inherit;
}
#basebody{
    font-family: monospace;
    padding: inherit;
}
#navbrandnav{
    font-family: -webkit-body;
    font-size: xxx-large;
}
---------------login
#loginbackground{
    color: aquamarine;
}
#loginbody{
    background: #025464;
}

#login{
    margin-left: 2%;
    position: unset;
}
#signupform{
    margin-left: 2%;
    position: unset;
}
#loginbutton{
    box-shadow: 2px 2px 2px 2px #232121;
    background: gainsboro;
}
#loginbutton::backdrop{
    animation: fadein 2s;
}
#Getstartedbutton{
    box-shadow: 2px 2px 2px 2px #232121;
    background: gainsboro;
}
#logindiv{
    padding-top: 20px;
    font-family: ubuntu;
}
#signfree{
    text-shadow: 8px, 7px, 0px, #ccc;

}
#signup{
    text-shadow: 8px, 7px, 0px, #ccc;
}
----------------------------------------
blog css
#postbutton{
    margin-left: 2%;
    box-shadow: 2px 2px 2px 2px #232121;
}