{% block content %}
<!DOCTYPE html>
<body id="loginbody">
<div class="form" id="loginbackground">
{% include "base.html" %}
      <div class="tab-content" id="logindiv">
          <div class="col-xxl-12">
              <div class="row" id="signupform">
        <div id="signup">
          <h1 id="signfree">Sign Up for Free</h1>
          <form action="/" method="post">
          <div class="top-row">
            <div class="field-wrap">
              <label>
                First Name<span class="req">*</span>
              </label>
              <input type="text" required autocomplete="off" />
            </div>
            <div class="field-wrap">
              <label>
                Last Name<span class="req">*</span>
              </label>
              <input type="text"required autocomplete="off"/>
            </div>
          </div>
          <div class="field-wrap">
            <label>
              Email Address<span class="req">*</span>
            </label>
            <input type="email"required autocomplete="off"/>
          </div>
          <div class="field-wrap">
            <label>
              Set A Password<span class="req">*</span>
            </label>
            <input type="password"required autocomplete="off"/>
          </div>
          <button type="submit" class="button button-block" id="Getstartedbutton"/>Get Started</button>
          </form>
        </div>
        <div id="login">
          <h1>Welcome Back!</h1>
          <form action="/" method="post">
            <div class="field-wrap">
            <label>
              Email Address<span class="req">*</span>
            </label>
            <input type="email"required autocomplete="off"/>
          </div>
          <div class="field-wrap">
            <label>
              Password<span class="req">*</span>
            </label>
            <input type="password"required autocomplete="off"/>
          </div>
              <h5>
                  <p class="forgot"><a href="#"><i>Forgot Password?</i></a></p></h5>
          <button class="button button-block" id="loginbutton"/>Log In</button>
          </form>
       </div></div>
      </div></div><!-- tab-content -->
</div> <!-- /form -->
</body>
{% endblock %}
